
@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Roboto')


body{
	font-size:30px
}

#croydon {
	width:100%;
}

#swiss{
	width:60%;
}


h1 {
	color: #800000;
	font-family: 'Roboto', bold, sans-serif;
	font-size:1.5em;
	font-weight: 700;
	border-style: double;
}

h2{
	color: #800000;
	font-family: 'Roboto', bold, sans-serif;
	text-align: right;
	font-size: 0.8em;
}
nav {
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
    border: 1px ##617b9b;
    padding: 1px
	color: #add8e6;
	text-transform: uppercase;
	margin: 1em;
	word-spacing: 0.3em;
	text-align: right;
}


hr{
	width:50%;
	display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    color: #800000;
}

h3 {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	color: #2F4F4F;
	font-size: 1.1em;
	text-transform: uppercase;
}

ul {
	font-family: 'Archivo Black', sans-serif;
    text-align: justify;
	list-style-type: none;
	background-color:#f2f2f2; 
	font-weight: 600;
    line-height: 4em;
    float:left;
}


h4 {
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	background-color: #cdc5bf;
	color: #800000;
	margin: 2em;
}

.divisions {
	font-family: 'Archivo Black', sans-serif;
	text-align: left;
	margin:2em;
    padding: 0.6em;
    font-size: 1.1em;

}


a {
	text-decoration: none;
	text-align: center;
}



#disclaimer {
	font-size: .07em;
	text-align: center;
	font-family: 'Archivo Black', sans-serif;
	text-transform: uppercase;
	color: white;
	margin: 2em;
 }

#bridge{
	width:80%;
}

.clearfix2:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
}

#cheese{
	background-color: white;
}


.floating-box {
    float: left;
   border: 0.05em solid #800000;
    width: 11.66em;
    height: 150px;
    margin: 22px;  
}

.floating-box:hover {
	background-color:#f2f2f2;
}

#copyright {
	text-align: center;
	font-weight: bold
}

footer {
	font-family: 'Roboto', bold, sans-serif;
	text-align: center;
	color: 800000;
    border: 1px black solid;
    padding: 0.63em;
    background-color: #778899;
    word-spacing: 0.10em;
}

@media screen only and (max-width: 360px) {
.floating-box {
float:none;
width:auto;
}
